.title-card {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: title-card_fade-in-right;
          animation-name: title-card_fade-in-right;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  border: 1px solid transparent;
  box-sizing: border-box;
  color: #fff;
  transition: 200ms;
  width: 100%;
  z-index: 50;
}

.title-card:active,
.title-card:focus,
.title-card:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  color: #ff9800;
}

@-webkit-keyframes title-card_fade-in-right {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes title-card_fade-in-right {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.title-card__artwork {
  display: block;
  position: relative;
  width: 100%;
  z-index: 25;
}

.title-card__media {
  font-family: 'Rajdhani', 'Arial', sans-serif;
	font-style: normal;
  font-weight: 400;
	letter-spacing: 0.12em;
	line-height: 1.5em;
	text-align: center;
  word-spacing: 0.16em;
  z-index: 75;
}

.title-card__title {
  font-family: 'Rajdhani', 'Arial', sans-serif;
	font-style: normal;
  font-weight: 400;
	letter-spacing: 0.12em;
	line-height: 1.5em;
	text-align: center;
  word-spacing: 0.16em;
  z-index: 75;
}

.titles-hub-flexbox {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
}

.titles-hub-flexbox__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
  min-height: 1px;
  padding: 1em;
}

@media (min-width: 576px) {
  .titles-hub-flexbox__item {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .titles-hub-flexbox__item {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

.titles-hub-main {
  background-color: #000;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  color: #fff;
  overflow: hidden;
  padding-top: 1.5em;
}

.titles-hub-main__text {
  text-align: center;
}