.title-card__artwork {
  display: block;
  position: relative;
  width: 100%;
}

.title-card__media {
  text-align: center;
}

.title-card__title {
  text-align: center;
  font-style: normal;
}

.titles-hub-flexbox {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
}

.titles-hub-flexbox__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
  min-height: 1px;
  padding: 1em;
}

@media (min-width: 576px) {
  .titles-hub-flexbox__item {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .titles-hub-flexbox__item {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

.titles-hub-main {
  background-color: #000;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  color: #fff;
  padding-top: 1.5em;
}