@charset "UTF-8";

/* CTA Section */
.cta-bar {
  margin: 0 auto;
  padding: 2em 0;
}

.cta-bar_theme_black {
  background-color: #000;
}

.cta-flexbox {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
}

.cta-flexbox__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
  min-height: 1px;
  padding: 1em;
}
/* End CTA Section */


/* Synopsis Section */
.synopsis-cover-art {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: synopsisCoverArt;
  animation-name: synopsisCoverArt;
  margin-top: 0.25em;
  width: 100%;
}

@-webkit-keyframes synopsisCoverArt {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes synopsisCoverArt {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.synopsis-cover-art__img {
  -webkit-box-shadow: 2px 2px 25px 7px #c0c0c0;
  box-shadow: 2px 2px 25px 7px #c0c0c0;
  width: 100%;
}

.synopsis-flexbox {
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 auto;
  padding: 1em 0 0 0;
}

.synopsis-flexbox__item_artwork {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: block;
  margin-bottom: 3em;
  max-width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

@media (min-width: 576px) {
  .synopsis-flexbox__item_artwork {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .synopsis-flexbox__item_artwork {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

.synopsis-flexbox__item_text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin-bottom: 3em;
  max-width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

@media (min-width: 576px) {
  .synopsis-flexbox__item_text {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .synopsis-flexbox__item_text {
    -ms-flex: 0 0 66.666666%;
    -webkit-box-flex: 0;
            flex: 0 0 66.666666%;
    max-width: 66.666666%;
  }
}

.synopsis-section {
  /* background-attachment: fixed; */ /* Commented out because it was preventing 'position top' */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 1.5em;
}

.synopsis-section__img {
  box-sizing: border-box;
  display: block;
  margin: 1em 0;
  position: relative;
  width: 100%;
}

.synopsis-section__link,
.synopsis-section__link:visited {
  border-bottom: 1px solid #fff;
  color: #fff;
  transition: 200ms;
}

.synopsis-section__link:active,
.synopsis-section__link:focus,
.synopsis-section__link:hover {
  border-bottom: 1px solid #00a8e1;
  color: #00a8e1;
}

.synopsis-section__title {
  font-family: 'Rajdhani', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  margin-bottom: 0.5em;
}

.synopsis-video {
  margin: 1em 0;
  width: 100%;
}
/* END Synopsis Section */

/* Testimonials Section */
.testimonials-card {
  box-sizing: border-box;
  padding: 1em;
  opacity: 0;
  -webkit-animation-duration: 2000ms;
  animation-duration: 2000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.testimonials-card_fade-in {
  -webkit-animation-name: testimonials-card_fade-in;
  animation-name: testimonials-card_fade-in;
}

@-webkit-keyframes testimonials-card_fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes testimonials-card_fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

.testimonials-card__attribution {
  color: #fff;
  text-align: left;
}

.testimonials-card__attribution-link {
  border-bottom: 2px solid #fff;
  color: #fff;
  text-align: left;
  transition: 200ms;
}

.testimonials-card__attribution-link:active,
.testimonials-card__attribution-link:focus,
.testimonials-card__attribution-link:hover {
  border-bottom: 2px solid #00a8e1;
  color: #00a8e1;
}

.testimonials-card__quote {
  color: #fff;
  font-style: italic;
}

.testimonials-card__quote-link,
.testimonials-card__quote-link:visited {
  border-bottom: 1px solid #fff;
  color: #fff;
  transition: 200ms;
}

.testimonials-card__quote-link:active,
.testimonials-card__quote-link:focus,
.testimonials-card__quote-link:hover {
  border-bottom: 1px solid #00a8e1;
  color: #00a8e1;
}

.testimonials-flexbox {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
}

.testimonials-flexbox__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
  min-height: 1px;
  padding: 1em;
}

@media (min-width: 576px) {
  .testimonials-flexbox__item {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .testimonials-flexbox__item {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

.testimonials-section {
  background-image: url("../../img/patterns/tweed/tweed_@2X.png");
  padding: 2em 1em;
}

.testimonials-section__title {
  color: #fff;
  font-family: 'Rajdhani', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  margin-bottom: 0.5em;
  text-align: center;
}