@charset "UTF-8";

.overview {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: #fff;
  padding-top: 1.5em;
}

/* FRONT COVER */
.animated-3 {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.front-cover {
  margin-top: 0.25em;
  width: 100%;
}

.front-cover-img {
  -webkit-box-shadow: 2px 2px 25px #c0c0c0;
  box-shadow: 2px 2px 25px #c0c0c0;
  width: 100%;
}

.section__title {
  font-family: 'Rajdhani', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  margin-bottom: 0.5em;
}

.cta {
  background-color: #000;
  margin: 0 auto;
  padding: 2em 0;
}

/* TESTIMONIALS*/

.testimonials {
  background-image: url("../../img/patterns/tweed/tweed_@2X.png");
  padding: 2em 1em;
}

.testimonial {
  color: #fff;
}

.testimonial-title {
  color: #fff;
  text-align: center;
}

.testimonial-attribution {
  color: #fff;
  text-align: right;
}

.testimonial-attribution-link {
  border-bottom: 2px solid #fff;
  color: #fff;
  text-align: right;
  transition: 200ms;
}

.testimonial-attribution-link:hover,
.testimonial-attribution-link:focus,
.testimonial-attribution-link:active {
  border-bottom: 2px solid #00a8e1;
  color: #00a8e1;
}

.attribution {
  text-align: right;
}

.js--t1,
.js--t2,
.js--t3 {

  opacity: 0;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

}

.js--t2 {

  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;

}

.js--t3 {

  -webkit-animation-delay: 1s;
  animation-delay: 1s;

}

@-webkit-keyframes fadeIn {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}

@keyframes fadeIn {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}

.fadeIn {

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;

}

/* MEDIA QUERIES */

/* Custom breakpoint for the call-to-action buttons. */
@media all and (max-width: 1535px) {

  .actions {

    width: 100%;
    height: auto;
    padding-bottom: 20px;

  }

  .actions ul,
  .actions li {
    display: block;
  }

  .actions li {

    margin: 30px;
    text-align: center;
    line-height: 200%;

  }

  .attribution {

    padding-bottom: 30px;
    padding-right: 20px;

  }

}

@media all and (max-width: 1199px) {

  blockquote,
  .attribution {
    font-size: 90%;
  }

}

@media all and (max-width: 991px) {

  .synopsis-left,
  .synopsis-right {

    width: 80%;
    display: block;
    margin-left: 4%;

  }

  blockquote {
    padding: 20px;
  }

}

@media all and (max-width: 768px) {

  .artwork,
  .main-content {
    width: 100%;
  }

  .artwork {
    margin-bottom: 40px;
  }

  .synopsis-left,
  .synopsis-right {

    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .testimonials header {
    padding-bottom: 40px;
  }

  .testimonial {

    display: block;
    width: 65%;
    margin: 0 auto;

  }

  blockquote {

    padding: 0;
    min-height: auto;
    width: 100%;

  }

  .attribution {

    width: 100%;
    padding: 30px 0;
    margin-bottom: 40px;
    border-bottom: 1px solid #fff;

  }

  .js--t2,
  .js--t3 {

    -webkit-animation-delay: 0s;
    animation-delay: 0s;

  }

}

@media all and (max-width: 575px) {

  .btn {
    font-size: 80%;
  }

}


/* REFACTOR THE FOLLOWING */
.artwork {
  display: block;
  position: relative;
}

.flexbox_layout_cta {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
}

.flexbox_layout_overview {
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 auto;
  padding: 4em 0 0 0;
}

.flex-item_artwork {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.flex-item_cta {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
  min-height: 1px;
  padding: 1em;
}

.flex-item_synopsis {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

@media (min-width: 576px) {

  .flex-item_artwork {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }

  /* .flex-item_cta {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  } */
  
  .flex-item_synopsis {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }

}

@media (min-width: 768px) {

  .flex-item_artwork {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .flex-item_synopsis {
    -ms-flex: 0 0 66.666666%;
    -webkit-box-flex: 0;
            flex: 0 0 66.666666%;
    max-width: 66.666666%;
  }

}