* {
	border-radius: border-box;
	color: white;
	font-size: 20px;
	font-weight: 300;
}

*:focus,
summary:hover {
	outline: none; /* Removes automatic browser borders from form fields. */
	cursor: pointer;
}

html {
	background-size: cover; /*Shows entire image*/
	background-position: center; /*Centers the background*/
	height: 100vh; /*Sets height to match viewport height:*/
	background-attachment: fixed;
	font-family: 'Open Sans', 'Arial', sans-serif;
}

a {
	/*color: #7299b7;*/
}

h1 {
	text-align: center;
	font-size: 250%;
	letter-spacing: 2px;
	font-weight: 300;
	margin-bottom: 100px;
}

.h1-italic {
	font-style: italic;
	font-size: 100%;
	/*font-weight: 300i;*/
}

.main-container {
	position: relative;
}

.music {
	min-height: 100vh;
}

.music-intro {
	margin: 0 auto 75px auto;
	width: 65%;
	padding-top: 5px;
	padding-bottom: 30px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

.intro-italics {
	font-style: italic;
}

.music-list {
	margin: 100px auto;
	max-width: 780px;
	text-align: justify;
	line-height: 130%;
	font-size: 125%;
	letter-spacing: 1px;
}

summary {
	font-size: 115%;
	line-height: 300%;
	letter-spacing: 2px;
}

.album-art {
	max-width: 300px;
	margin: 30px auto;
	overflow: hidden;
	
}

.album-art img {
	width: 100%; /* 100% of its parent container, which is the <figure>. */
	height: auto;
	background-color: #000; /* So that the opacity of the images fades toward black. */
	opacity: 0.9;
	-webkit-transform: scale(1);
	        transform: scale(1); /* No zoom when not hovering. */
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.album-art img:hover {
	opacity: 1;
	-webkit-transform: scale(1.05);
	        transform: scale(1.05); /* When hovering, zoom in 5%. */
}

.album-title {
	text-align: center;
}

.album-title a {
	font-weight: 400;
	font-size: 110%;
}

.album-intro {
	margin: 0 auto 15px auto;
	width: 65%;
	/*border-bottom: 1px solid white;*/
	padding-bottom: 10px;
}

table {
	width: 100%;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	padding-top: 15px;
	padding-bottom: 25px;
	margin-bottom: 45px;
}

td {
	vertical-align: top;
	padding: 8px 20px 35px 5px;
}

.song-title {
	width: 31%;
	text-align: left;
}

.notes {
	font-style: italic;
}

footer {
	/*position: fixed;*/
}