.html {
  /* Would love to remove this from .html completely and have it in each applicable class. */
  font-family: 'Titillium Web', 'Arial', 'Helvetica', sans-serif;
}

.html__p,
.html__q {
  display: block;
  font-family: 'Titillium Web', 'Arial', 'Helvetica', sans-serif;
  hyphens: auto;
  letter-spacing: 0.12em;
  line-height: 1.5em;
  margin: 0 0 1em 0;
  text-align: justify;
  text-justify: inter-word;
  word-spacing: 0.16em;
}

.html__p_white,
.html__q_white {
  color: #fff;
}

/* Font Sizes */
/* Fixed root font size for smallest screens */
.html {
  font-size: 16px;
}

.font_size_body {
  font-size: 16px;
}

/* Font Ratio 1.125 (Major Second) for smallest screens */
.font_size_1 {
  font-size: 1rem;
}

.font_size_2 {
  font-size: 1.125rem;
}

.font_size_3 {
  font-size: 1.266rem;
}

.font_size_4 {
  font-size: 1.424rem;
}

.font_size_5 {
  font-size: 1.602rem;
}

.font_size_6 {
  font-size: 1.802rem;
}

@media (min-width: 800px) {

  /* Fluid root font size for medium screens and up */
  .html {
    font-size: 2vw;
  }

  /* Font Ratio 1.250 (Major Third) for larger screens */
  .font_size_2 {
    font-size: 1.25rem;
  }

  .font_size_3 {
    font-size: 1.563rem;
  }

  .font_size_4 {
    font-size: 1.953rem;
  }

  .font_size_5 {
    font-size: 2.441rem;
  }

  .font_size_6 {
    font-size: 3.052rem;
  }

}

/* Max Root Font Size */
@media (min-width: 1440px) {
  .html {
    font-size: 28.8px;
  }
}