.footer {
	background-color: #000;
	box-sizing: border-box;
	display: block;
	padding: 2em 1em;
	width: 100%;
}

.footer__icon {
	height: auto;
	-webkit-transition: -webkit-transform 0.25s, -webkit-filter 0.25s;
			transition: -webkit-transform 0.25s, -webkit-filter 0.25s;
			-o-transition: transform 0.25s, filter 0.25s;
			transition: transform 0.25s, filter 0.25s;
			transition: transform 0.25s, filter 0.25s, -webkit-transform 0.25s, -webkit-filter 0.25s;
			transition: transform 0.25s, filter 0.25s, -webkit-transform 0.25s;
	width: 57px;
}

.footer__icon:hover,
.footer__icon:active {
	-webkit-filter: brightness(120%);
			filter: brightness(120%);		
	-webkit-transform: scale(1.05);
	        -ms-transform: scale(1.05);
	    transform: scale(1.05); /* When hovering, zoom in to 5%. */
}

.footer__icon-flexbox {
	align-content: center;
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	gap: 1em;
	justify-content: center;
	margin-bottom: 1.5em;
}

.footer__p {
	color: #fff;
	letter-spacing: 0.12em;
	line-height: 1.5em;
	margin-bottom: 1.5em;
	text-align: center;
	word-spacing: 0.16em;
}

.footer__section {
	margin: 0 auto;
	max-width: 500px;
	width: 100%;
}
