.breadcrumbs {
  /* color: #fff; */
  color: #00a8e1;
}

.breadbrumbs__item_anchor,
.breadbrumbs__item_anchor:visited {
  /* border-bottom: 1px solid #fff; */
  /* color: #fff; */
  color: #00a8e1;
  transition: 200ms;
}

.breadbrumbs__item_anchor:active,
.breadbrumbs__item_anchor:focus,
.breadbrumbs__item_anchor:hover {
  /* border-bottom: 1px solid #ff9800; */
  color: #ff9800;
  cursor: pointer;
}

.nav {
  background-color: #000;
  border-bottom: 1px solid #00a8e1;
  min-height: 57px;
  position: relative;
  width: 100%;
  z-index: 100;
}

.nav_fixed {
  position: fixed;
  top: 0;
}

.nav__bar {
  align-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 57px;
}

.nav__bar-flex-item-breadcrumbs {
  width: 75%;
}

.nav__bar-flex-item-dropdown {
  min-height: 57px;
  position: relative;
  width: 25%;
}

/* .nav__flexbox {
  align-content: center;
  align-items: stretch;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
} */

/* .nav__flexbox_item {
  flex-grow: 1;
  min-height: 57px;
  min-width: 57px;
} */

.nav__list {
  background-color: #000;
  left: 0;
  list-style: none;
  padding-bottom: 0.5em;
  position: relative;
  right: 0;
  text-align: right;
  transition: 2000ms;
}

.nav__list_collapsed {
  display: none;
}

.nav__sublist {
  list-style: none;
}

.nav__list_heading {
  background-color: #000;
  border-bottom: solid #fff 2px;
  color: #fff;
}

.nav__list-item-anchor {
  background-color: #000;
  color: #fff;
  text-decoration: none;
}

.nav__list-item-anchor:visited {
  color: #fff;
}

.nav__list-item-paragraph {
  color: #00a8e1;
	font-family: 'Rajdhani', 'Arial', sans-serif;
	font-weight: 400;
	letter-spacing: 0.12em;
	line-height: 1.5em;
	padding-right: 1em;
  word-spacing: 0.16em;
}

.nav__list-item-paragraph:hover,
.nav__list-item-paragraph:focus,
.nav__list-item-paragraph:active {
  background-color: #fff;
  color: #000;
}

.nav__button_dropdown {
  background-color: transparent;
  border: none;
  letter-spacing: 0.12em;
	line-height: 1.5em;
	min-height: 57px;
  min-width: 57px;
  position: absolute;
  right: 0;
  word-spacing: 0.16em;
}

.nav__button_dropdown:hover {
  cursor: pointer;
}

.nav__icon_dropdown {
  color: #00a8e1;
  font-size: 3em;
  margin: auto;
}
