/* ABOUT SECTION */

* {
	color: #000;
}

header {
	text-align: center;
}

h1 {
	font-size: 350%;
}

h2 {
	font-size: 250%;
}

.italic {
	font-style: italic;
}

.about-section {
	background-image: url(../img/bg/water-1330252_1920.jpg);
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.about-banner {
	margin: 60px 0;
	background: rgba(0, 0, 0, 0.4);
	padding: 2% 0;
}

.main-header h1,
.main-header h2,
.about-banner h1,
.about-banner h2 {
	color: #fff;
}

.banner-text {
	padding: 1% 0;
}

.main-header {
	margin-top: 0;
	background-color: #000;
	padding: 0;
	width: 100%;
	margin-bottom: 100px;
}

.author-photo {
	text-align: center;
}

.author-photo img {
	width: 120px;
	height: auto;
	/*vertical-align: middle;*/
	padding: 2% 0;
}

.white-bg {
	background: rgba(255, 255, 255, 0.66);
	width: 50%;
	margin: 0 auto;
	border-radius: 5px;
}

.text-box {
	padding: 60px 80px 10px 80px;
	margin: auto;
}

.italic,
.text-box p {
	font-weight: 400;
	line-height: 150%;
	letter-spacing: 1px;
	text-align: justify;
}

.text-box p {
	padding-bottom: 50px;
}

.final {
	margin-bottom: 150px;
}

/* BUTTONS AND LINKS */

.button-box {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 80px;
}

.button-box ul,
.button-box li {
	padding: 0;
	display: inline-block;
}

#bonus {
	margin-left: 50px;
}

a:link,
a:visited,
a:hover,
a:active {
	border-bottom: none;
	padding-bottom: none;
}

.btn {
	
	border: 3px solid #000;
	padding: 5px 50px;
	font-size: 100%;
	color: #000;
}

.btn:hover,
.btn:active {
	cursor: pointer;
	color: #a495a2;
	border: 3px solid #a495a2;
	transition: color 0.2s;
	transition: border 0.05s;
}