/* ALL */

* {
	position: relative;
	z-index: 1;
}

.bonus-section,
.contact-section,
.about-section {
	height: 100vh;
}

header {
	/*text-align: center;*/
}

h1 {
	font-size: 350%;
}

/* VIDEO */

.homepage-hero-module {
	border-right: none;
	border-left: none;
	position: relative;
}
.no-video .video-container video,
.touch .video-container video {
	display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
	display: block !important;
}
.video-container {
	position: relative;
	bottom: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: #000;
}
.video-container .poster img {
	width: 100%;
	bottom: 0;
	position: absolute;
}
.video-container .filter {
	z-index: 100;
	position: absolute;
	background: rgba(0, 0, 0, 0.4);
	width: 100%;
}
.video-container video {
	position: absolute;
	z-index: 0;
	bottom: 0;
}
.video-container video.fillWidth {
	width: 100%;
}

/* BONUS SECTION*/

/*.bonus-section {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))) , url(../img/bg/maldives-1993704.jpg);
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)) , url(../img/bg/maldives-1993704.jpg);
	background-size: cover;
	background-position: center;
}*/

.bonus-explanation-shaded {
	width: 70%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	margin: 0 auto;
}

.bonus-explanation-text {
	padding-top: 125px;
}

.bonus-explanation-text p {
	padding: 30px 40px 0 40px;
	text-align: justify;
	font-size: 88%;
}

/* MailChimp Form */
.mailchimp-main {
	width: 750px;
	height: 525px;
	margin: auto;
	background-color: #000;
	border-radius: 5px;
}

#mc_embed_signup {
	/*background:#fff;*/
	clear:left;
	/*font: 14px Helvetica, Arial, sans-serif;*/
}

#mce-error-response {
	display: none;
}

#mce-success-response {
	display: none;
}

.mailchimp-last {
	 position: absolute;
	 left: -5000px;
}

/* CONTACT SECTION */

.contact-section {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))) , url(../img/bg/nasa-140304.jpg);
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)) , url(../img/bg/nasa-140304.jpg);
	background-size: cover;
	background-position: center;
}

/* ABOUT SECTION */

.about-section {
	background-color: #555;
}

