/* ALL */

* {
	position: relative;
	z-index: 1;
}

.bonus-section,
.contact-section,
.about-section {
	height: 100vh;
}

header {
	text-align: center;
}

h1 {
	font-size: 350%;
}

/* VIDEO */

.homepage-hero-module {
	border-right: none;
	border-left: none;
	position: relative;
}
.no-video .video-container video,
.touch .video-container video {
	display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
	display: block !important;
}
.video-container {
	position: relative;
	bottom: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: #000;
}
.video-container .poster img {
	width: 100%;
	bottom: 0;
	position: absolute;
}
.video-container .filter {
	z-index: 100;
	position: absolute;
	background: rgba(0, 0, 0, 0.4);
	width: 100%;
}
.video-container video {
	position: absolute;
	z-index: 0;
	bottom: 0;
}
.video-container video.fillWidth {
	width: 100%;
}

/* BONUS SECTION*/

/*.bonus-section {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))) , url(../img/bg/maldives-1993704.jpg);
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)) , url(../img/bg/maldives-1993704.jpg);
	background-size: cover;
	background-position: center;
}*/

.bonus-explanation-shaded {
	width: 70%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	margin: 0 auto;
}

.bonus-explanation-text {
	padding-top: 45%;
	line-height: 130%;
}

.bonus-explanation-text p,
.bonus-explanation-text li {
	padding: 30px 40px 0 40px;
	font-size: 88%;
}

.bonus-explanation-text p {
	text-align: justify;
}

.bonus-explanation-text li {
	list-style: square;
	padding-left: 20px;
	margin-left: 20px;
	text-align: left;
}

/* MailChimp Form */
.mailchimp-main {
	width: 750px;
	height: 525px;
	margin: auto;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}

#mc_embed_signup {
	/*background:#fff;*/
	clear:left;
	/*font: 14px Helvetica, Arial, sans-serif;*/
}

#mce-error-response {
	display: none;
}

#mce-success-response {
	display: none;
}

.mailchimp-last {
	 position: absolute;
	 left: -5000px;
}

input {
	color: #000;
}

/* CONTACT SECTION */

.contact-section {
	background-image: url(../img/bg/nasa-140304.jpg);
	background-size: cover;
	background-position: center;
}

.contact-main {
	width: 50%;
	margin: auto;
	border-radius: 5px;
	clear: left;
}

.contact-field-group {
	width: 100%;
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}

.contact-field-group label,
.contact-field-group input {
	font-size: 125%;
	font-weight: 400;
}

.contact-field-group label {
	line-height: 200%;
	background: rgba(0, 0, 0, 0.3);
	border-radius: 10%;
}

.contact-field-group input,
.contact-field-group textarea {
	width: 96%;
	color: #000;
	padding: 10px 15px;
	border-radius: 5px;
	background-color: #e6e6e6;
}

.contact-field-group input {
	margin: 0 auto;
}

.contact-field-group textarea {
	height: 100px;
}

input:focus,
textarea:focus {
	background-color: #fff;
}

/*Submit Button*/
.contact-submit-group {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

#contact-submit {
	background: rgba(0, 0, 0, 0.2);
	border: 2px solid #fff;
	padding: 5px 60px;
	font-size: 100%;
	color: #fff;
}

#contact-submit:hover,
#contact-submit:active {
	cursor: pointer;
	color: #FFD700;
	/*color: #e69936;*/
	border: 2px solid #FFD700;
	/*border: 5px solid #e69936;*/
	transition: color 0.2s;
	transition: border 0.2s;
}

a:link,
a:visited,
a:hover,
a:active {
	border-bottom: none;
}

/* ABOUT SECTION */

.about-section {
	background-image: url(../img/bg/water-1330252_1920.jpg);
	/*background-size: cover;
	background-position: center;*/
}

.about-banner {
	margin: 60px 0 0 0; /* Override col margin settings. */
	width: 100%;
	height: 100px;
	background: rgba(0, 0, 0, 0.2);

}

.about-banner h1 {
	margin: 0;
	vertical-align: middle;
	padding: 8px;
}