.title-row {
	margin-top: 170px;
}

.book-title {
	text-align: center;
	color: silver;
	background-color: black;
}

.book-cover {

}

.cover-art {
	max-width: 100%;
}

.synopsis-box {
	background-color: black;
}

.synopsis {
	background-color: black;
	color: silver;
	text-align: justify;
	padding: 20px;
}