/* Normalize */
body,
figure,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

a,
a:link,
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
}

/* Grid */
.center__1140 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
  width: 100%;
}

.center__1440 {
  margin: 0 1em;
  max-width: 1440px;
  padding: 0;
  position: relative;
  width: 100%;
}


/* NEW CODE */
.content__center {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.content__center_700 {
  max-width: 700px;
}

.content__center_1140 {
  max-width: 1140px;
}

.content__center_1440 {
  max-width: 1440px;
}

.content__center_1920 {
  max-width: 1920px;
}