html {
	background-image: url("../img/cannon-beach-haystack-rock.jpg");
}

.main-container {
	height: 100vh;
}

.enter {
	max-width: 750px;
	/*height: 100vh;*/
	margin: 0 auto;
	/*top: 50%;*/
	/*transform: translate(-50%);*/
}

.btn {
	background-color: transparent;
	border: 5px solid #fff;
	padding: 8px;
	font-size: 200%;
	/*font-weight: 400;*/
}

.btn:link,
.btn:visited {

}

.btn:hover,
.btn:active {
	cursor: pointer;
	color: #DAA520;
	border: 5px solid #DAA520;
	transition: color 0.2s;
	transition: border 0.2s;
}

a:link,
a:visited,
a:hover,
a:active {
	border-bottom: none;
}