html {
	background-image: url("../img/cannon-beach-haystack-rock.jpg");
}

.main-container {
	height: 100vh;
}

header {
	height: 200px;
	
}

.banner-1 {
	position: relative; /* For keeping text at the bottom of this div. */
	height: 75px;
	width: 100%;
	margin: 0;
}

.banner-1 h2 {
	position: absolute; /* For keeping text at the bottom of this div. */
	bottom: 1.5px; /* For keeping text at the bottom of this div. */
	left: 0; /* For keeping text at the bottom of this div. */
	margin: 0;
}

.banner-2 {
	margin: 0;
	width: 100%;
	height: 125px;
	background: rgba(0, 0, 0, 0.2);
}

h1 {
	margin: 0;
	font-size: 500%;
	padding-left: 15%;
}

h2 {
	padding-left: 15%;
}

.gate {
	position: fixed;
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.btn {
	background: rgba(0, 0, 0, 0.2);
	border: 5px solid #fff;
	padding: 17px;
	font-size: 200%;
	color: #fff;
	clear: none;
	margin: 125px;
}

.btn:link,
.btn:visited {

}

.btn:hover,
.btn:active {
	cursor: pointer;
	color: #FFD700;
	/*color: #e69936;*/
	border: 5px solid #FFD700;
	/*border: 5px solid #e69936;*/
	transition: color 0.2s;
	transition: border 0.2s;
}

a:link,
a:visited,
a:hover,
a:active {
	border-bottom: none;
}

/* ANIMATIONS */

@charset "UTF-8";

.animated {
  animation-duration: 10s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}

.copyright {
	padding: 20px;
	text-align: center;
	font-size: 75%;
	color: #faebd7;
}

.currentYear {
	font-size: 100%;
	color: #faebd7;
}