a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
    opacity: 90%;
}

body {
	margin: 0;
	background-color: black;
}

.container-fluid {
	margin: 0;
	width: 100%;
	border: none;
	padding: 0;
}

.col-xs-12 {
	width: 100%
	margin: 0;
	padding: 0;
}

#myCarousel {
	margin-top: 185px;
}

.wallpaper {
	background-position: center top;
	background-attachment: scroll;
	width: 100%;
	margin: 0;
	border: none;
	padding: 0;
}

.title-banner {
	padding-top: 30px;
	text-align: center;
	color: silver;
	font-family: 'Cinzel', serif;
}

.book-title {
	font-size: 50px;
}

.category {
	font-size: 25px;
}

.synopsis {
	color: silver;
	text-align: justify;
	font-size: 20px;
	padding: 60px;
	font-family: 'PT Sans', sans-serif;
}

p {
	line-height: 1.7;
	padding-bottom: 20px;
}

.bio {
	/*width: 50%;*/
	text-align: justify;
	margin: 0 auto;
}