* {
	border-radius: border-box;
	color: white;
	font-size: 20px;
	font-weight: 300;
	margin: 0;
	border: none;
}

*:focus,
summary:hover {
	outline: none; /* Removes automatic browser borders from form fields. */
	cursor: pointer;
}

html {
	font-family: 'Open Sans', 'Arial', sans-serif;
}

body {
	margin: 0;
}

ul,
li {
	list-style: none;
}

h1 {
	font-size: 250%;
	letter-spacing: 2px;
	font-weight: 300;
}

.h1-italic {
	font-style: italic;
	font-size: 100%;
	/*font-weight: 300i;*/
}

.main-container {
	position: relative;
}

/* LINKS */

a {
	text-decoration: none;
}

a:link,
a:visited {
	border-bottom: 1px solid #fff; /* My own custom underline */
	padding-bottom: 1px; /* Space for underline */
}

a:hover,
a:active {
	color: #c0c0c0;
	border-bottom: 1px solid #c0c0c0; /* My own custom underline */
	padding-bottom: 1px; /* Space for underline */
}

/* BUTTONS */

.btn {
	background: transparent;
}

.btn:hover,
.btn:active {
	cursor: pointer;
	transition: color 0.2s;
	transition: border 0.14s;
}