/* Break points based on when aesthetic issues occur, not device sizes. */

/* 1024 to 1420 */
@media only screen and (max-width: 1435px) {
	
	h1 { font-size: 200%; }

	h2 { font-size: 125%; }

	.banner {
		width: 90%;
		margin-top: 30px;
	}

	.description {
		width: 90%;
	}

	.description-col {
		margin: 0 3px;
		background: rgba(0, 0, 0, 0.5);
		transition: background 3s; /* Transition takes 3 seconds. */
	}

	.intro {
		line-height: 170%;
		text-align: justify;
		font-size: 88%;
	}

}

/* 800 to 1023 */
@media only screen and (max-width: 1023px) {
	
	/*h1 { font-size: 200%; }*/

	h2 { font-size: 100%; }

	.banner {
		width: 90%;
		margin-top: 30px;
	}

	.description {
		width: 90%;
	}

	.description-col {
		margin: 0 1px;
	}

	.intro {
		font-size: 80%;
	}

	.open-logo {
		height: 15px;
		margin-bottom: -5px;
	}

}

@media only screen and (max-width: 850px) {

	.nav-right {
		display: none;
		margin-right: -30px;
		float: right;
	}

	.mobile-nav-icon {
		display: inline-block;
		margin-left: 10px;
	}

	.nav-right li {
		display: block;
		margin-bottom: 15px;
		text-align: right;
	}	

}


@media only screen and (max-width: 800px) {

	.description-col {
		display: block;
		width: 50%;
		/*height: 175px;*/
		margin: 10px auto;
		/*padding: 15px;*/
	}

	.description {
		margin-bottom: 100px;
	}

}

/* (Usually 320px min) */
@media only screen and (max-width: 600px) {
	
	.description-col {
		width: 75%;
	}

	footer {
		font-size: 65%;
	}

	.footer-text {
		padding-top: 10px;
	}
	
}