.album-card {
	border: #fff 1px solid;
	width: 100%;
}


.main_music {
  background-attachment: fixed; /* Commented out because it was preventing 'position top' */
  background-color: #000; /* Fallback */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 1.5em;
	width: 100%;
}

.music-intro__p {
	color: #fff;
	padding-top: 15px;
	padding-bottom: 10px;

}

.intro-italics { font-style: italic; }

.music-list {
	color: #fff;
	margin: 100px auto;
	width: 60%;
	text-align: justify;
	line-height: 130%;
	font-size: 125%;
	letter-spacing: 1px;

}

summary {
	color: #fff;
	font-size: 115%;
	line-height: 300%;
	letter-spacing: 2px;

}

.album-art {

	max-width: 300px;
	margin: 30px auto;
	overflow: hidden;

}

.album-art a { border-bottom: none; }

.album-art img {

	width: 100%; /* 100% of its parent container, which is the <figure>. */
	height: auto;
	-webkit-transform: scale(1.03);
	        -ms-transform: scale(1.03);
	    transform: scale(1.03); /* No zoom when not hovering -- minus 3% to prevent a white gap from appearing at the edges of the image. */
	-webkit-transition: -webkit-transform 0.75s, -webkit-filter 0.75s;
			transition: -webkit-transform 0.75s, -webkit-filter 0.75s;
			-o-transition: transform 0.75s, filter 0.75s;
			transition: transform 0.75s, filter 0.75s;
			transition: transform 0.75s, filter 0.75s, -webkit-transform 0.75s, -webkit-filter 0.75s;
			transition: transform 0.75s, filter 0.75s, -webkit-transform 0.75s;

}

.album-art img:hover {

	-webkit-filter: brightness(115%);
			filter: brightness(115%);		
	-webkit-transform: scale(1.05);
	        -ms-transform: scale(1.05);
	    transform: scale(1.05); /* When hovering, zoom in 5%. */

}

.album-title {
	color: #fff;
	text-align: center;
	padding-top: 20px;

}

.album-title a {
	color: #fff;
	font-weight: 400;
	font-size: 110%;

}

/* .album-intro {
	color: #fff;
	margin: 0 auto 15px auto;
	width: 65%;
	border-bottom: 1px solid white;
	padding-bottom: 35px;

} */

table {
	color: #fff;
	width: 100%;
	border-bottom: 1px solid white;
	padding-top: 15px;
	padding-bottom: 25px;
	margin-bottom: 130px;

}

td {

	vertical-align: top;
	padding: 8px 20px 35px 5px;

}

.song-title {
	color: #fff;
	width: 31%;
	text-align: left;

}

.notes { 
	color: #fff;
	font-style: italic;
}

.non-italic {
	color: #fff;
	font-style: normal;
}

/* MEDIA QUERIES */
@media all and (max-width: 1199px) {
	
	.music-list { width: 70%; }

}

@media all and (max-width: 768px) {

	.music-list {

		line-height: 130%;
		font-size: 100%;

	}

	summary {

		font-size: 100%;
		line-height: 300%;
		letter-spacing: 2px;

	}

}




/* NEW CODE */
.music-card_album {
	align-content: flex-start;
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 4em;
}

.music-card_artist {
	display: block;
	position: relative;
	width: 100%;
}

.music-card__album-notes_p {
	color: #fff;
	hyphens: auto;
	text-align: justify;
}

.music-card__album-notes_q {
	hyphens: auto;
	text-align: justify;
}

.music-card__album-title {
	color: #fff;
}

.music-card__artist-notes_p {
	color:#fff;
	font-family: 'Titillium Web', 'Arial', 'Helvetica', sans-serif;
	hyphens: auto;
	text-align: center;
}

.music-card__artist-name {
	color: #fff;
	font-family: 'Rajdhani', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  margin-bottom: 0.5em;
	text-align: center;
}

.music-card__album-artwork_figure {
	display: block;
	position: relative;
	width: 100%;
}

@media (min-width: 576px) {
  .music-card__album-artwork_figure {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }
}

.music-card__album-artwork_img {
	display: block;
	position: relative;
	width: 100%;
}

.music-card__album-text {
	background-color: #000;
	border-radius: 0.4em;
	margin: 0 1em;
}

.music-card__album-text-container {
	display: block;
	position: relative;
	width: 100%;
}

@media (min-width: 576px) {
	.music-card__album-text-container {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%;
  }
}

.music-card__li {
	color: #fff;
}

.music-card__track-container {
	align-content: flex-start;
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 100%;
}

.music-card__track-notes {
	box-sizing: border-box;
	display: block;
	padding: 1em;
	position: relative;
	width: 100%;
}

@media (min-width: 768px) {
	.music-card__track-notes {
    -ms-flex: 0 0 66.666666%;
    -webkit-box-flex: 0;
            flex: 0 0 66.666666%;
    width: 66.666666%;
  }
}

.music-card__track-notes_p {
	color: #fff;
	hyphens: auto;
	text-align: justify;
}

.music-card__track-notes_q {
	color: #fff;
	hyphens: auto;
	text-align: justify;
}

.music-card__track-title {
	box-sizing: border-box;
	color: #fff;
	display: block;
	padding: 1em;
	position: relative;
	width: 100%;
}

@media (min-width: 768px) {
	.music-card__track-title {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
    width: 33.333333%;
  }
}