.main_music {
  background-attachment: fixed;
  background-color: #000; /* Fallback */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
	width: 100%;
}

.music-card_album {
	align-content: flex-start;
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 4em;
}

.music-card_artist {
	display: block;
	position: relative;
	width: 100%;
}

.music-card__album-genre_heading {
	color: #fff;
	display: inline-block;
	font-family: 'Rajdhani', 'Arial', sans-serif;
	font-weight: 700;
	letter-spacing: 0.1em;
	line-height: 1em;
  word-spacing: 0.05em;
}

.music-card__album-genre_value {
	color: #fff;
	display: inline-block;
}

.music-card__album-notes_p {
	color: #fff;
}

.music-card__album-title {
	color: #fff;
	font-family: 'Rajdhani', 'Arial', sans-serif;
	font-weight: 400;
	letter-spacing: 0.1em;
	line-height: 1em;
  padding-bottom: 0.5em;
	word-spacing: 0.05em;
}

.music-card__album-artwork_figure {
	display: block;
	position: relative;
	width: 100%;
}

@media (min-width: 576px) {
  .music-card__album-artwork_figure {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }
}

.music-card__album-artwork_img {
	display: block;
	position: relative;
	width: 100%;
}

.music-card__album-text {
	background-color: #000;
	border-radius: 0.4em;
	margin: 0 1em;
}

.music-card__album-text-container {
	background-color: #000; /* Will need to remove this for larger screens when it's side-by-side */
	display: block;
	padding-top: 1.5em;
	position: relative;
	width: 100%;
}

@media (min-width: 576px) {
	.music-card__album-text-container {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%;
  }
}

.music-card__artist-name {
	color: #fff;
	font-family: 'Rajdhani', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  letter-spacing: 0.12em;
	line-height: 1em;
  margin-bottom: 0.5em;
	padding-bottom: 0.5em;
	text-align: center;
	word-spacing: 0.16em;
}

@media (min-width: 768px) {
	.music-card__artist-name {
		font-weight: 700;
	}
}

.music-card__artist-notes_p {
	color:#fff;
}

.music-card__li {
	color: #fff;
}

.music-card__track-container {
	align-content: flex-start;
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 100%;
}

.music-card__track-notes {
	box-sizing: border-box;
	display: block;
	padding: 1em;
	position: relative;
	width: 100%;
}

@media (min-width: 768px) {
	.music-card__track-notes {
    -ms-flex: 0 0 66.666666%;
    -webkit-box-flex: 0;
            flex: 0 0 66.666666%;
    width: 66.666666%;
  }
}

.music-card__track-notes_p {
	color: #fff;
}

.music-card__track-notes_q {
	color: #fff;
}

.music-card__track-title {
	box-sizing: border-box;
	color: #fff;
	display: block;
	padding: 1em;
	position: relative;
	width: 100%;
}

@media (min-width: 768px) {
	.music-card__track-title {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
    width: 33.333333%;
  }
}

.music-intro__p {
	color: #fff;
	margin-bottom: 4em;
}