.navbar {
	background-color: black;
	height: 190px;
	padding: 15px;
	color: white;
	font-size: large;
	width: 100%;
	border: none;
}

.navbar-header {
	margin: 0;
	width: 100%;
	border: none;
	padding: 0;
	text-align: center;
}

.author_name {
	font-family: 'Architects Daughter', cursive;
	color: white;
	text-align: center;
}

.subheading {
	font-family: 'Amatic SC', cursive;
	color: white;
	text-align: center;
}

/*DROPDOWN MENUS*/
.navbar-toggle {
	border: none;
}

.dropdown-toggle {
	background-color: black;
	color: white;
	border: none;
}

.caret {
	color: white;
}

.dropdown-menu {
	background-color: black;
}