/* ALL */

@charset "UTF-8";

header {
	text-align: center;

}

h1,
h2 {
	margin: 0;
	padding-top: 40px;
}

h2 {
	font-size: 175%;
}

/* BUTTONS AND LINKS */

a:link,
a:visited,
a:hover,
a:active {
	border-bottom: none;
	padding-bottom: none;
}

.amazon-buy {
	max-width: 225px;
	height: auto;
	vertical-align: middle;
	transition: filter 0.25s;
}

.amazon-buy:hover {
	filter: brightness(110%);
	transition: filter 0.2s;
}

.btn {
	background: transparent;
	border: 2px solid #fff;
	padding: 10px;
	font-size: 100%;
}

.btn:hover,
.btn:active {
	cursor: pointer;
	color: #FFD700;
	border: 2px solid #FFD700;
	transition: color 0.2s;
	transition: border 0.2s;
}

/* MAIN CONTENT */

.project-hero {
	background-size: cover; /*Shows entire image*/
	background-position: center; /*Centers the background*/
	height: 100vh; /*Sets height to match viewport height:*/
	background-attachment: fixed;
}

.art-and-synopsis {
	padding-top: 35px;
}

/* FRONT COVER */
.animated {
  animation-duration: 3s;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

.front-cover {
	width: 335px;
	height: auto;
	text-align: center; /* Center the front-cover image within the <aside>. */
	margin: 0 auto;
	overflow: hidden;
	box-shadow: 2px 2px 25px #c0c0c0;
}

.front-cover img {
	width: 100%;
	height: auto;
	transition: transform 1s, filter 1s;
	-webkit-transform: scale(1.02);
	        transform: scale(1.02); /* No zoom when not hovering -- minus 2% zoom to eliminate bottom border. */
}

.front-cover img:hover,
.front-cover img:active {
	filter: brightness(109%);
	transition: filter 1s, transform 1s;
	-webkit-transform: scale(1.05);
	        transform: scale(1.05); /* When hovering, zoom in to 5%. */
}

.synopsis {
	width: 100%;
	margin: 0 auto;
	
}

.synopsis-left,
.synopsis-right {
	vertical-align: top;
	width: 37%;
	display: inline-block;
	margin-left: 8%;
	top: 0;
	/*padding-top: 2%;*/
}

.synopsis p {
	font-size: 90%;
	padding-bottom: 20px;
	text-align: justify;
	line-height: 140%;
	letter-spacing: 1px;
}

.call-to-action {
	margin: 0 auto;
	padding-top: 20px;
	width: 75%;
	border-top: 1px solid #fff;
}

.call-to-action p {
	text-align: center;
}

.actions {
	width: 85%;
	margin: 10px auto;
}

.actions ul,
.actions li {
	display: inline-block;
	padding: 0;
}

.actions li {
	margin-left: 24px;
	margin-right: 24px;
}

/* TESTIMONIALS*/

.testimonials {
	min-height: 400px;
	background-color: #555;
}

.testimonial {
	display: inline-block;
	vertical-align: top;
	font-style: italic;
}

blockquote {
	text-align: justify;
	padding: 50px 50px 20px 50px;
	line-height: 130%;
	min-height: 150px;
}

.attribution {
	text-align: right;
	padding: 0 50px;
}

.attribution a:hover,
.attribution a:active {
	border-bottom: 1px solid #c0c0c0;
	transition: border-bottom 0.2s;
}