body {
	margin: 0;
}

header {
	background-color: black;
	height: 200px;
	padding: 50px;
	color: white;
	text-align: center;
	font-size: large;
	width: 100%;
}

section {

}

#cutm_img {
	width: 100%;
}

footer {
	background-color: black;
	height: 40px;
	width: 100%;
}