body {
	margin: 0;
}

.container {
	margin: 0;
	width: 100%;
	border: none;
	padding: 0;
}

.container-fluid {
	margin: 0;
	width: 100%;
	border: none;
	padding: 0;
}

.navbar {
	background-color: black;
	height: 175px;
	padding: 15px;
	color: white;
	text-align: center;
	font-size: large;
	width: 100%;
	border: none;
}

.author_name {
	/*font-family: 'Orbitron', sans-serif;*/
	/*font-family: 'Amatic SC', cursive;*/
	font-family: 'Architects Daughter', cursive;
	/*font-family: 'Delius Unicase', cursive;*/
	/*font-family: 'Audiowide', cursive;*/
	/*font-family: 'Gochi Hand', cursive;*/
}

.subheading {
	/*font-family: 'Orbitron', sans-serif;*/
	font-family: 'Amatic SC', cursive;
	/*font-family: 'Architects Daughter', cursive;*/
	/*font-family: 'Delius Unicase', cursive;*/
	/*font-family: 'Audiowide', cursive;*/
	/*font-family: 'Gochi Hand', cursive;*/
}

/*ISN'T WORKING: */
.dropdown-toggle {
	color: white;
}

.navtext {
	color: white;
}

modal-content {
	color: white;
}

/*WORKS: */
.caret {
	color: white;
}

.wallpaper {
	background-image: url(../img/catch_up_to_myself.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: scroll;
	width: 100%;
	margin: 87px 0 0 0;
	border: none;
}

.footer {
	background-color: black;
	height: 40px;
	width: 100%;
	text-align: center;
}

.text-muted {
	padding: 10px;
	margin: 0;
}

.icon {
	height: 35px;
	width: 40px;
	position: relative;
	overflow: auto;
}

/*MailChimp Bonus Content Signup Form*/
#mc_embed_signup{
	opacity: 0.9;
	background: #fff;
	/*clear: left;*/
	font: 14px Helvetica,Arial,sans-serif;
	width: 75%;
	margin: 150px auto;
	padding: 20px;
	border-radius: 7px;
}

#mce-EMAIL,
#mce-FNAME,
#mce-LNAME {
	opacity: 1;
	background: #fff;
}

.signup-header {
	text-align: center;
}

.explanation {
	text-align: center;
	font-weight: bold;
}