* {
	border-radius: border-box;
	color: white;
	font-size: 20px;
	font-weight: 300;
}

*:focus,
summary:hover {
	outline: none; /* Removes automatic browser borders from form fields. */
	cursor: pointer;
}

html {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))) , url(cutm-no-text.jpg);
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) , url(../../assets/img/cutm-no-text.jpg);
	background-size: cover; /*Shows entire image*/
	background-position: center; /*Centers the background*/
	height: 100vh; /*Sets height to match viewport height:*/
	background-attachment: fixed;
	font-family: 'Open Sans', 'Arial', sans-serif;
}

a {
	/*color: #7299b7;*/
}

h1 {
	text-align: center;
	font-size: 250%;
	letter-spacing: 2px;
	font-weight: 300;
	margin-bottom: 100px;
}

.h1-italic {
	font-style: italic;
	font-size: 100%;
	/*font-weight: 300i;*/
}

.main-container {
	position: relative;
}

.music {
	min-height: 100vh;
}

.music-intro {
	margin: 0 auto 75px auto;
	width: 65%;
	padding-top: 5px;
	padding-bottom: 30px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

.intro-italics {
	font-style: italic;
}

.music-list {
	margin: 100px auto;
	max-width: 780px;
	text-align: justify;
	line-height: 130%;
	font-size: 125%;
	letter-spacing: 1px;
}

summary {
	font-size: 115%;
	line-height: 300%;
	letter-spacing: 2px;
}

.album-art {
	max-width: 300px;
	margin: 30px auto;
}

.album-art img {
	max-width: 300px;
	height: auto;
}

.album-title {
	text-align: center;
}

.album-title a {
	font-weight: 400;
	font-size: 110%;
}

.album-intro {
	margin: 0 auto 15px auto;
	width: 65%;
	/*border-bottom: 1px solid white;*/
	padding-bottom: 10px;
}

table {
	width: 100%;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	padding-top: 15px;
	padding-bottom: 25px;
	margin-bottom: 45px;
}

td {
	vertical-align: top;
	padding: 8px 20px 35px 5px;
}

.song-title {
	width: 31%;
}

.notes {
	font-style: italic;
}

footer {
	/*position: fixed;*/
}