/* Font Sizes */
/* Fixed root font size for smallest screens */
html {
  font-size: 16px;
}

.font_size_body {
  font-size: 16px;
}

/* Font Ratio 1.125 (Major Second) for smallest screens */
.font_size_1 {
  font-size: 1em;
}

.font_size_2 {
  font-size: 1.125em;
}

.font_size_3 {
  font-size: 1.266em;
}

.font_size_4 {
  font-size: 1.424em;
}

.font_size_5 {
  font-size: 1.602em;
}

.font_size_6 {
  font-size: 1.802em;
}

@media (min-width: 800px) {

  /* Fluid root font size for medium screens and up */
  html {
    font-size: 2vw;
  }

  /* Font Ratio 1.250 (Major Third) for larger screens */
  .font_size_2 {
    font-size: 1.25em;
  }

  .font_size_3 {
    font-size: 1.563em;
  }

  .font_size_4 {
    font-size: 1.953em;
  }

  .font_size_5 {
    font-size: 2.441em;
  }

  .font_size_6 {
    font-size: 3.052em;
  }

}

/* Max Root Font Size */
@media (min-width: 1440px) {
  html {
    font-size: 28.8px;
  }
}


/* Font Families and Formatting */
.body {
  font-family: 'Titillium Web', 'Arial', sans-serif;
}

.body_p {
  letter-spacing: 0.12em;
  line-height: 1.5em;
  margin: 0 0 2em 0;
  text-align: justify;
  text-justify: inter-word;
  word-spacing: 0.16em;
}

