/* FOOTER LINKS */

footer img {

	max-width: 40px;
	height: auto;
	-webkit-transition: -webkit-transform 0.25s, -webkit-filter 0.25s;
			transition: -webkit-transform 0.25s, -webkit-filter 0.25s;
			-o-transition: transform 0.25s, filter 0.25s;
			transition: transform 0.25s, filter 0.25s;
			transition: transform 0.25s, filter 0.25s, -webkit-transform 0.25s, -webkit-filter 0.25s;
			transition: transform 0.25s, filter 0.25s, -webkit-transform 0.25s;

}

footer img:hover,
footer img:active {
	-webkit-filter: brightness(120%);
			filter: brightness(120%);		
	-webkit-transform: scale(1.05);
	        -ms-transform: scale(1.05);
	    transform: scale(1.05); /* When hovering, zoom in to 5%. */
}

.follow {
	max-width: 180px;
	margin: 20px auto;
}

.follow a {
	display: inline-block;
	margin-left: 15px;
}

/* LEGAL */

#webdesign a:link,
#webdesign a:visited { border-bottom: 1px solid #555; /* My own custom underline */ }

#webdesign a:hover,
#webdesign a:active { border-bottom: 1px solid #fff; }

#amazon { text-align: justify; }




/* NEW CODE */
.footer {
	background-color: #000;
	box-sizing: border-box;
	display: block;
	padding: 1em;
	width: 100%;
}

.footer__section {
	margin: 0 auto;
	max-width: 500px;
	width: 100%;
}

.footer_p {
	color: #fff;
	text-align: center;
}

.footer__text-link {
	border-bottom: solid 1px #fff;
	text-decoration: none;
	transition: 175ms;
}

.footer__text-link:link,
.footer__text-link:visited {
	color: #fff;
}

.footer__text-link:hover,
.footer__text-link:active {
	border-bottom: 1px solid #555;
	color: #555;
}

/* MEDIA QUERIES */
@media (min-width: 576px) {
	.footer__col {
		width: 50%;
	}
}