.col-1 {
	width: calc(100%/12);
}

.col-2 {
	width: calc(200%/12);
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: calc(400%/12);
}

.col-5 {
	width: calc(500%/12);
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: calc(700%/12);
}

.col-8 {
	width: calc(800%/12);
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: calc(1000%/12);
}

.col-11 {
	width: calc(1100%/12);
}

.col-12 {
	width: 100%;
}

.row {
	align-content: flex-start;
	align-items: stretch;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 100%;
}

@media (min-width: 576px) {

}