@charset "UTF-8";

.banner {
  background: rgba(0, 0, 0, 0.6);
  margin: 0 0 5em 0;
  padding: 1em 0;
  text-align: center;
}

.body {
  margin: 0;
}

.btn {
  background: rgba(0, 0, 0, 0.5);
  border: 0.125em solid #fff !important; /* Must be marked !important or the bottom border will be removed by the <a> style. */
  color: #fff;
  font-family: 'Open Sans', 'Arial', sans-serif;
  padding: 0.75em 1em; /* Must be marked !important or the bottom padding will be reduced to 1px by the <a> style. */
  transition: 150ms;
}

.btn:focus,
.btn:link,
.btn:visited {
  text-decoration: none;
}

.btn:hover,
.btn:active {
  color: #FFD700;
  border-color: #FFD700 !important; /* Must be marked !important or the border won't change. */
  text-decoration: none;
}

.center__1140 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
  width: 100%;
}

.center__1440 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 15px;
  width: 100%;
}

.copyright {
  font-family: 'Open Sans', 'Arial', sans-serif;
  margin: 0;
  padding: 1em 15px;
  text-align: center;
  color: #faebd7;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.h1 {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 300;
  letter-spacing: 0.125em;
  text-align: center;
}

.html {
  background-attachment: fixed;
  background-image: url("../images/cannon-beach-haystack-rock.jpg");
  background-position: top right;
  background-size: cover; /*Shows entire image*/
  border-radius: border-box;
  height: 100vh;
  min-width: fit-content;
}

.leadIn {
  color: #fff;
  display: block;
}

.name {
  color: #fff;
  display: block;
  line-height: 1em;
  width: 100%;
}

.nav {
  align-content: center;
  align-items: center;
  gap: 2.5em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

/* FONT SIZES */

/* Fixed root font size for smallest screens */
html {
  font-size: 16px;
}

.font_size_body {
  font-size: 16px;
}

/* Font Ratio 1.125 (Major Second) for smallest screens */
.font_size_1 {
  font-size: 1em;
}

.font_size_2 {
  font-size: 1.125em;
}

.font_size_3 {
  font-size: 1.266em;
}

.font_size_4 {
  font-size: 1.424em;
}

.font_size_5 {
  font-size: 1.602em;
}

.font_size_6 {
  font-size: 1.802em;
}

@media (min-width: 800px) {

  /* Fluid root font size for medium screens and up */
  html {
    font-size: 2vw;
  }

  /* Font Ratio 1.250 (Major Third) for larger screens */
  .font_size_2 {
    font-size: 1.25em;
  }

  .font_size_3 {
    font-size: 1.563em;
  }

  .font_size_4 {
    font-size: 1.953em;
  }

  .font_size_5 {
    font-size: 2.441em;
  }

  .font_size_6 {
    font-size: 3.052em;
  }

}

/* Max Root Font Size */
@media (min-width: 1440px) {
  html {
    font-size: 28.8px;
  }
}

/* END FONT SIZES */


/* ANIMATIONS */
.animated {
  -webkit-animation-duration: 6000ms;
          animation-duration: 6000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes expanding {
  from {
    opacity: normal;
  }

  to {
    letter-spacing: 0.125em;
  }
}

@keyframes expanding {
  from {
    opacity: normal;
  }

  to {
    letter-spacing: 0.125em;
  }
}

.expanding {
  -webkit-animation-name: expanding;
          animation-name: expanding;
}


/* MEDIA QUERIES */
@media (min-width: 576px) {
  .banner {
    margin-top: 20vh;
  }
}

@media (min-width: 800px) {
  .btn {
    padding: 0.5em 1em;
  }
}