/* Deprecated File */
/* LINKS */

a { text-decoration: none; }

a:link,
a:visited {

	border-bottom: 1px solid #fff; /* My own custom underline */
	padding-bottom: 1px; /* Space for underline */

}

a:hover,
a:active {

	color: #c0c0c0;
	border-bottom: 1px solid #c0c0c0; /* My own custom underline */
	padding-bottom: 1px; /* Space for underline */

}

/* BUTTONS */

.btn { background: transparent; }

.btn:hover,
.btn:active {

	cursor: pointer;
	-webkit-transition: color 0.2s;
			-o-transition: color 0.2s;
			transition: color 0.2s;
	-webkit-transition: border 0.14s;
			-o-transition: border 0.14s;
			transition: border 0.14s;

}