* {
	border-radius: border-box;
	color: white;
	font-size: 20px;
	font-weight: 300;
}

html {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))) , url(cutm-no-text.jpg);
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) , url(cutm-no-text.jpg);
	background-size: cover; /*Shows entire image*/
	background-position: center; /*Centers the background*/
	height: 100vh; /*Sets height to match viewport height:*/
	background-attachment: fixed;
	font-family: 'Open Sans', 'Arial', sans-serif;
}

a {
	color: #7299b7;
}

h1 {
	text-align: center;
	font-size: 250%;
	letter-spacing: 2px;
	font-weight: 300;
	margin-bottom: 100px;
}

.h1-italic {
	font-style: italic;
	font-size: 100%;
	/*font-weight: 300i;*/
}

.main-container {
	position: relative;
}

.music {
	min-height: 100vh;
}

.music-intro {
	font-weight: 300;
	margin: 0 auto 75px auto;
	width: 65%;
}

.intro-italics {
	font-style: italic;
}

.music-list {
	margin: 100px auto;
	max-width: 780px;
	text-align: justify;
	line-height: 130%;
	font-size: 125%;
	letter-spacing: 1px;
}

.album a {
	font-weight: 400;
	font-size: 110%
}

table {
	width: 100%;
}

td {
	vertical-align: top;
	padding: 8px;
}

.song-title {
	width: 25%;
}

.notes {
	font-style: italic;
}

footer {
	/*position: fixed;*/
}